## Getting API and turning into pandas dataframe

* https://www.nylas.com/blog/use-python-requests-module-rest-apis/
* https://stackoverflow.com/questions/42518864/convert-json-data-from-request-into-pandas-dataframe
* Convert lists or dictionaries to pandas dataframe columns: https://stackoverflow.com/questions/20638006/convert-list-of-dictionaries-to-a-pandas-dataframe

In [1]:
import requests
import pandas

In [2]:
URL = "https://foodoasis.la/api/stakeholderbests?categoryIds[]=1&categoryIds[]=9&latitude=33.99157326008516&longitude=-118.25853610684041&distance=5&isInactive=either&verificationStatusId=0&maxLng=-117.83718436872704&maxLat=34.193301591847344&minLng=-118.67988784495431&minLat=33.78936487151597&tenantId=1"

In [3]:
r = requests.get(URL)

In [4]:
j = r.json()

### Explore raw data

* Look at dictionary items
* Then, convert to pandas dataframe

In [5]:
j[0]

{'address1': '5014 S. Avalon Boulevard',
 'address2': '',
 'adminContactEmail': '',
 'adminContactName': '',
 'adminContactPhone': '',
 'adminNotes': '6/8 need to confirm pantry hours\n\n10/24/2020 10:43AM PDT: called (323)232-7256 option to leave a message\n\n1/18/2021: Left message. Will wait a couple days before handing off\n\n1/23/2021: Sent facebook message, responded very quickly. I think this is the best method of contact. The page seems very active.',
 'approvedDate': '2021-01-23T19:19:53',
 'assignedDate': '2021-01-23T18:38:02',
 'assignedLoginId': 766,
 'assignedUser': 'Rohit Sharma',
 'categories': [{'display_order': 10,
   'id': 1,
   'name': 'Food Pantry',
   'stakeholder_id': 2992}],
 'categoryNotes': '',
 'city': 'Los Angeles',
 'claimedDate': '2019-12-01T08:00:00',
 'claimedLoginId': None,
 'claimedUser': ' ',
 'confirmedAddress': True,
 'confirmedCategories': True,
 'confirmedEmail': True,
 'confirmedFoodTypes': False,
 'confirmedHours': False,
 'confirmedName': True,
 'confirmedPhone': True,
 'covidNotes': 'Food services have been suspended due to cover but church services are still being conducted online and by phone. ',
 'createdDate': '2019-12-01T08:00:00',
 'createdLoginId': None,
 'createdUser': ' ',
 'description': '',
 'distance': 0.531054585404324,
 'donationAcceptFrozen': False,
 'donationAcceptPerishable': False,
 'donationAcceptRefrigerated': False,
 'donationContactEmail': '',
 'donationContactName': '',
 'donationContactPhone': '',
 'donationDeliveryInstructions': '',
 'donationNotes': '',
 'donationPickup': False,
 'donationSchedule': '',
 'eligibilityNotes': '',
 'email': '',
 'facebook': '',
 'foodBakery': False,
 'foodDairy': False,
 'foodDryGoods': False,
 'foodMeat': False,
 'foodPrepared': False,
 'foodProduce': False,
 'foodTypes': '',
 'hours': [{'close': '11:30:00',
   'day_of_week': 'Thu',
   'open': '09:30:00',
   'week_of_month': 0}],
 'id': 2992,
 'inactive': False,
 'inactiveTemporary': True,
 'instagram': '',
 'is_verified': True,
 'items': '',
 'languages': 'English',
 'latitude': 33.9970819,
 'linkedin': '',
 'longitude': -118.2650011,
 'modifiedDate': '2021-01-23T19:19:54',
 'modifiedLoginId': 53,
 'modifiedUser': 'Jenny Mikesell',
 'name': 'Full Gospel Community Church Of God & Christ',
 'neighborhoodId': 93,
 'notes': '',
 'parentOrganization': '',
 'phone': '(323) 232-7256',
 'physicalAccess': '',
 'pinterest': '',
 'requirements': '',
 'reviewNotes': '',
 'reviewedLoginId': 53,
 'reviewedUser': 'Jenny Mikesell',
 'services': 'Church services',
 'state': 'CA',
 'submittedDate': None,
 'submittedLoginId': None,
 'submittedUser': ' ',
 'twitter': '',
 'verificationStatusId': 4,
 'website': 'https://www.facebook.com/FullGospelCommunityCOGICLA/',
 'zip': '90011'}

In [6]:
# Look at first observation
j[0]
# j[1]
# j[2]

{'address1': '5014 S. Avalon Boulevard',
 'address2': '',
 'adminContactEmail': '',
 'adminContactName': '',
 'adminContactPhone': '',
 'adminNotes': '6/8 need to confirm pantry hours\n\n10/24/2020 10:43AM PDT: called (323)232-7256 option to leave a message\n\n1/18/2021: Left message. Will wait a couple days before handing off\n\n1/23/2021: Sent facebook message, responded very quickly. I think this is the best method of contact. The page seems very active.',
 'approvedDate': '2021-01-23T19:19:53',
 'assignedDate': '2021-01-23T18:38:02',
 'assignedLoginId': 766,
 'assignedUser': 'Rohit Sharma',
 'categories': [{'display_order': 10,
   'id': 1,
   'name': 'Food Pantry',
   'stakeholder_id': 2992}],
 'categoryNotes': '',
 'city': 'Los Angeles',
 'claimedDate': '2019-12-01T08:00:00',
 'claimedLoginId': None,
 'claimedUser': ' ',
 'confirmedAddress': True,
 'confirmedCategories': True,
 'confirmedEmail': True,
 'confirmedFoodTypes': False,
 'confirmedHours': False,
 'confirmedName': True,
 'confirmedPhone': True,
 'covidNotes': 'Food services have been suspended due to cover but church services are still being conducted online and by phone. ',
 'createdDate': '2019-12-01T08:00:00',
 'createdLoginId': None,
 'createdUser': ' ',
 'description': '',
 'distance': 0.531054585404324,
 'donationAcceptFrozen': False,
 'donationAcceptPerishable': False,
 'donationAcceptRefrigerated': False,
 'donationContactEmail': '',
 'donationContactName': '',
 'donationContactPhone': '',
 'donationDeliveryInstructions': '',
 'donationNotes': '',
 'donationPickup': False,
 'donationSchedule': '',
 'eligibilityNotes': '',
 'email': '',
 'facebook': '',
 'foodBakery': False,
 'foodDairy': False,
 'foodDryGoods': False,
 'foodMeat': False,
 'foodPrepared': False,
 'foodProduce': False,
 'foodTypes': '',
 'hours': [{'close': '11:30:00',
   'day_of_week': 'Thu',
   'open': '09:30:00',
   'week_of_month': 0}],
 'id': 2992,
 'inactive': False,
 'inactiveTemporary': True,
 'instagram': '',
 'is_verified': True,
 'items': '',
 'languages': 'English',
 'latitude': 33.9970819,
 'linkedin': '',
 'longitude': -118.2650011,
 'modifiedDate': '2021-01-23T19:19:54',
 'modifiedLoginId': 53,
 'modifiedUser': 'Jenny Mikesell',
 'name': 'Full Gospel Community Church Of God & Christ',
 'neighborhoodId': 93,
 'notes': '',
 'parentOrganization': '',
 'phone': '(323) 232-7256',
 'physicalAccess': '',
 'pinterest': '',
 'requirements': '',
 'reviewNotes': '',
 'reviewedLoginId': 53,
 'reviewedUser': 'Jenny Mikesell',
 'services': 'Church services',
 'state': 'CA',
 'submittedDate': None,
 'submittedLoginId': None,
 'submittedUser': ' ',
 'twitter': '',
 'verificationStatusId': 4,
 'website': 'https://www.facebook.com/FullGospelCommunityCOGICLA/',
 'zip': '90011'}

In [7]:
len(j)

623

In [8]:
# Last obs, numbering is 0-615, for a total of 616 obs
j[615]

{'address1': '333 E. Foothill Blvd',
 'address2': '',
 'adminContactEmail': '',
 'adminContactName': 'Carol Stellato',
 'adminContactPhone': '(626) 914-8235',
 'adminNotes': 'lar_code: 7105CSFP agency code: CSFP stars:  extra1: Debbie Dozal extra2:  extra3: \n\n10/24 updated name of organization (more specific; as stated on their website), added business hours, added email, added website, called but no one picked up \n\n11/16/20\n- Verified everything with Carol.\n- closed to public due to covid\n- every Wednesday, they have lunch usually for seniors to pick up @ 10-11AM',
 'approvedDate': '2020-12-08T01:58:57',
 'assignedDate': '2020-11-16T18:04:36',
 'assignedLoginId': 445,
 'assignedUser': 'Ronald Cao',
 'categories': [{'display_order': 10,
   'id': 1,
   'name': 'Food Pantry',
   'stakeholder_id': 4858},
  {'display_order': 20,
   'id': 7,
   'name': 'Care Center',
   'stakeholder_id': 4858}],
 'categoryNotes': 'Senior/Community Center',
 'city': 'Glendora',
 'claimedDate': '2020-08-13T15:20:09',
 'claimedLoginId': None,
 'claimedUser': ' ',
 'confirmedAddress': True,
 'confirmedCategories': True,
 'confirmedEmail': True,
 'confirmedFoodTypes': False,
 'confirmedHours': True,
 'confirmedName': True,
 'confirmedPhone': True,
 'covidNotes': '',
 'createdDate': '2020-08-13T15:20:09',
 'createdLoginId': None,
 'createdUser': ' ',
 'description': '',
 'distance': 24.8143271487496,
 'donationAcceptFrozen': False,
 'donationAcceptPerishable': False,
 'donationAcceptRefrigerated': False,
 'donationContactEmail': '',
 'donationContactName': '',
 'donationContactPhone': '',
 'donationDeliveryInstructions': '',
 'donationNotes': '',
 'donationPickup': False,
 'donationSchedule': '',
 'eligibilityNotes': '',
 'email': 'sryan@cityofglendora.org',
 'facebook': '',
 'foodBakery': False,
 'foodDairy': False,
 'foodDryGoods': False,
 'foodMeat': False,
 'foodPrepared': False,
 'foodProduce': False,
 'foodTypes': '',
 'hours': [{'close': '11:00:00',
   'day_of_week': 'Wed',
   'open': '10:00:00',
   'week_of_month': 0}],
 'id': 4858,
 'inactive': False,
 'inactiveTemporary': False,
 'instagram': '',
 'is_verified': True,
 'items': '',
 'languages': 'English',
 'latitude': 34.1363616672431,
 'linkedin': '',
 'longitude': -117.861796309098,
 'modifiedDate': '2020-12-08T01:58:58',
 'modifiedLoginId': 53,
 'modifiedUser': 'Jenny Mikesell',
 'name': 'La Fetra Center',
 'neighborhoodId': None,
 'notes': 'Every Wednesday, they have lunch usually for seniors to pick up @ 10-11AM',
 'parentOrganization': '',
 'phone': '(626) 914-8235',
 'physicalAccess': '',
 'pinterest': '',
 'requirements': 'Seniors only',
 'reviewNotes': '',
 'reviewedLoginId': 53,
 'reviewedUser': 'Jenny Mikesell',
 'services': '',
 'state': 'CA',
 'submittedDate': None,
 'submittedLoginId': None,
 'submittedUser': ' ',
 'twitter': '',
 'verificationStatusId': 4,
 'website': 'https://www.cityofglendora.org/departments-services/parks-recreation-senior-services/la-fetra-center',
 'zip': '91741'}

In [9]:
# Find column names
for key in j[1]:
    print(key)

id
name
address1
address2
city
state
zip
phone
latitude
longitude
distance
website
notes
createdDate
createdLoginId
modifiedDate
modifiedLoginId
submittedDate
submittedLoginId
assignedDate
assignedLoginId
approvedDate
reviewedLoginId
claimedDate
claimedLoginId
requirements
adminNotes
inactive
createdUser
modifiedUser
submittedUser
reviewedUser
assignedUser
claimedUser
categories
hours
parentOrganization
physicalAccess
email
items
services
facebook
twitter
pinterest
linkedin
description
reviewNotes
instagram
adminContactName
adminContactPhone
adminContactEmail
donationContactName
donationContactPhone
donationContactEmail
donationPickup
donationAcceptFrozen
donationAcceptRefrigerated
donationAcceptPerishable
donationSchedule
donationDeliveryInstructions
donationNotes
covidNotes
categoryNotes
eligibilityNotes
foodBakery
foodDryGoods
foodProduce
foodDairy
foodPrepared
foodMeat
foodTypes
languages
confirmedName
confirmedCategories
confirmedAddress
confirmedPhone
confirmedEmail
confirmedHours
confirmedFoodTypes
verificationStatusId
inactiveTemporary
neighborhoodId
is_verified

In [10]:
# Look at key-value pairs in the dictionary
# Just look at 1 obs and see
for key, value in j[1].items():
    print(key)
    print(value)

id
5548
name
St. Francis Center - South Central LAMP
address1
892 E. 48th Street
address2

city
Los Angeles
state
CA
zip
90011
phone
(323) 234-1471
latitude
34.000083
longitude
-118.25983
distance
0.592618314339478
website
https://www.southcentrallamp.org/programs/food-pantry-services/
notes

createdDate
2020-10-10T22:28:27
createdLoginId
53
modifiedDate
2020-10-11T00:21:18
modifiedLoginId
53
submittedDate
None
submittedLoginId
None
assignedDate
None
assignedLoginId
None
approvedDate
2020-10-11T00:21:18
reviewedLoginId
53
claimedDate
2020-10-10T22:28:27
claimedLoginId
None
requirements

adminNotes

inactive
False
createdUser
Jenny Mikesell
modifiedUser
Jenny Mikesell
submittedUser

reviewedUser
Jenny Mikesell
assignedUser

claimedUser

categories
[{'stakeholder_id': 5548, 'id': 1, 'name': 'Food Pantry', 'display_order': 10}, {'stakeholder_id': 5548, 'id': 8, 'name': 'Food Bank', 'display_order': 18}, {'stakeholder_id': 5548, 'id': 11, 'name': 'Other', 'display_order': 30}, {'stakeholder_id': 5548, 'id': 6, 'name': 'Summer Lunch for Kids', 'display_order': 45}]
hours
[]
parentOrganization

physicalAccess

email
social@southcentrallamp.org
items

services

facebook

twitter

pinterest

linkedin

description
Since 1972, St. Francis Center has provided relief and support to homeless and extremely low-income individuals and families in Los Angeles. Much more than a soup kitchen or a food pantry, we offer a unique range of services to sustain and empower those in need and engaging volunteer opportunities Los Angeles. Welcoming all with joy, dignity and compassion, we dedicate ourselves every day to Serving Hope in our community.
reviewNotes

instagram

adminContactName

adminContactPhone

adminContactEmail

donationContactName

donationContactPhone

donationContactEmail

donationPickup
False
donationAcceptFrozen
False
donationAcceptRefrigerated
False
donationAcceptPerishable
False
donationSchedule

donationDeliveryInstructions

donationNotes

covidNotes

categoryNotes

eligibilityNotes

foodBakery
False
foodDryGoods
False
foodProduce
False
foodDairy
False
foodPrepared
False
foodMeat
False
foodTypes

languages
English
confirmedName
True
confirmedCategories
True
confirmedAddress
True
confirmedPhone
True
confirmedEmail
True
confirmedHours
True
confirmedFoodTypes
False
verificationStatusId
4
inactiveTemporary
False
neighborhoodId
93
is_verified
True

In [11]:
df = pandas.DataFrame.from_dict(j)
df.head()

,id,name,address1,address2,city,state,zip,phone,latitude,longitude,...,confirmedCategories,confirmedAddress,confirmedPhone,confirmedEmail,confirmedHours,confirmedFoodTypes,verificationStatusId,inactiveTemporary,neighborhoodId,is_verified
0,2992,Full Gospel Community Church Of God & Christ,5014 S. Avalon Boulevard,,Los Angeles,CA,90011,(323) 232-7256,33.997082,-118.265001,...,True,True,True,True,False,False,4,True,93.0,True
1,5548,St. Francis Center - South Central LAMP,892 E. 48th Street,,Los Angeles,CA,90011,(323) 234-1471,34.000083,-118.259830,...,True,True,True,True,True,False,4,False,93.0,True
2,3183,Victory Baptist Church Food Pantry,4802 South McKinley Avenue,,Los Angeles,CA,90011,(323) 231-2424,34.000071,-118.260721,...,True,True,True,True,True,False,4,False,93.0,True
3,3152,St. Mark Missionary Baptist Church,5017 Compton Avenue,,Los Angeles,CA,90011,(323) 231-1040,33.997116,-118.247970,...,True,True,True,True,True,False,4,True,49.0,True
4,3185,Vision of Hope Church,5951 S. San Pedro,,Los Angeles,CA,90003,(323) 422-7716,33.985865,-118.269683,...,True,True,True,True,True,False,4,False,44.0,True

### Fix columns that look like dictionaries

In [12]:
df[["categories"]].head()

                                          categories
0  [{'stakeholder_id': 2992, 'id': 1, 'name': 'Fo...
1  [{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...
2  [{'stakeholder_id': 3183, 'id': 1, 'name': 'Fo...
3  [{'stakeholder_id': 3152, 'id': 1, 'name': 'Fo...
4  [{'stakeholder_id': 3185, 'id': 1, 'name': 'Fo...

In [13]:
split_df = (pandas.DataFrame.from_records(df.categories)
                         .rename(columns = 
                                 {0: "one", 1: "two", 2: "three", 3: "four"}
                                )
                        )

split_df.head()

,one,two,three,four
0,"{'stakeholder_id': 2992, 'id': 1, 'name': 'Foo...",None,None,None
1,"{'stakeholder_id': 5548, 'id': 1, 'name': 'Foo...","{'stakeholder_id': 5548, 'id': 8, 'name': 'Foo...","{'stakeholder_id': 5548, 'id': 11, 'name': 'Ot...","{'stakeholder_id': 5548, 'id': 6, 'name': 'Sum..."
2,"{'stakeholder_id': 3183, 'id': 1, 'name': 'Foo...",None,None,None
3,"{'stakeholder_id': 3152, 'id': 1, 'name': 'Foo...",None,None,None
4,"{'stakeholder_id': 3185, 'id': 1, 'name': 'Foo...","{'stakeholder_id': 3185, 'id': 11, 'name': 'Ot...",None,None

In [14]:
# Originally, each row was stored as a list
print(df.categories.apply(type))

# Now, convert it to dict
print(split_df.one.apply(type))

0      <class 'list'>
1      <class 'list'>
2      <class 'list'>
3      <class 'list'>
4      <class 'list'>
            ...
618    <class 'list'>
619    <class 'list'>
620    <class 'list'>
621    <class 'list'>
622    <class 'list'>
Name: categories, Length: 623, dtype: object
0      <class 'dict'>
1      <class 'dict'>
2      <class 'dict'>
3      <class 'dict'>
4      <class 'dict'>
            ...
618    <class 'dict'>
619    <class 'dict'>
620    <class 'dict'>
621    <class 'dict'>
622    <class 'dict'>
Name: one, Length: 623, dtype: object

In [15]:
# Need cleaning, since one row can have up to 4 different entires with the `categories` column
category_df = pandas.DataFrame()
for col in ["one", "two", "three", "four"]:
    # This apply function unpacks all the dictionary key/value pairs
    # However many items are in there, it'll create new columns for it
    this_col_df = split_df[col].apply(pandas.Series)
    print("Unpack our dictionary")
    display(this_col_df.head(2))
    category_df = category_df.append(this_col_df, sort=False)
    
    
# Clean up, drop NaN values
category_df = (category_df[category_df.stakeholder_id.notna()]
               .reset_index(drop=True)
               .drop(columns = ["id", "display_order"])
                .rename(columns = {"name": "category_name"})
               .astype({"stakeholder_id": int})
              )

Unpack our dictionary

   stakeholder_id  id         name  display_order
0            2992   1  Food Pantry             10
1            5548   1  Food Pantry             10

Unpack our dictionary

   stakeholder_id   id       name  display_order
0             NaN  NaN        NaN            NaN
1          5548.0  8.0  Food Bank           18.0

Unpack our dictionary

   stakeholder_id    id   name  display_order
0             NaN   NaN    NaN            NaN
1          5548.0  11.0  Other           30.0

Unpack our dictionary

   stakeholder_id   id                   name  display_order
0             NaN  NaN                    NaN            NaN
1          5548.0  6.0  Summer Lunch for Kids           45.0

In [16]:
# Pick 2 examples
# 2992 only has 1 entry
# 5548 has 4 entries
check_me = [2992, 5548]

df[df.id.isin(check_me)]

,id,name,address1,address2,city,state,zip,phone,latitude,longitude,...,confirmedCategories,confirmedAddress,confirmedPhone,confirmedEmail,confirmedHours,confirmedFoodTypes,verificationStatusId,inactiveTemporary,neighborhoodId,is_verified
0,2992,Full Gospel Community Church Of God & Christ,5014 S. Avalon Boulevard,,Los Angeles,CA,90011,(323) 232-7256,33.997082,-118.265001,...,True,True,True,True,False,False,4,True,93.0,True
1,5548,St. Francis Center - South Central LAMP,892 E. 48th Street,,Los Angeles,CA,90011,(323) 234-1471,34.000083,-118.259830,...,True,True,True,True,True,False,4,False,93.0,True

In [17]:
category_df[category_df.stakeholder_id.isin(check_me)]

     stakeholder_id          category_name
0              2992            Food Pantry
1              5548            Food Pantry
623            5548              Food Bank
798            5548                  Other
840            5548  Summer Lunch for Kids

In [18]:
# Do a 1:m merge using 
# left_df is 1 row, id appears only once
# right_df is many, because it had multiple columns created for category, up to 4 separate entries
# which were all dumped into a long df called category_df
df2 = pandas.merge(df, 
                   category_df, 
                   left_on = "id", 
                   right_on = "stakeholder_id",
                   validate = "1:m"
              )

In [19]:
# Check the 2 examples again
# Now, 5548 has 4 observations, but each of the "category_name" entry is stored
# Need further cleaning to get it down to just 1 obs
df2[df2.id.isin(check_me)][["id", "name", "categories", "category_name"]]

,id,name,categories,category_name
0,2992,Full Gospel Community Church Of God & Christ,"[{'stakeholder_id': 2992, 'id': 1, 'name': 'Fo...",Food Pantry
1,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",Food Pantry
2,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",Food Bank
3,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",Other
4,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",Summer Lunch for Kids

In [20]:
# Other columns to clean
df2[["id", "name", "categories", "hours"]].head()

,id,name,categories,hours
0,2992,Full Gospel Community Church Of God & Christ,"[{'stakeholder_id': 2992, 'id': 1, 'name': 'Fo...","[{'week_of_month': 0, 'day_of_week': 'Thu', 'o..."
1,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",[]
2,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",[]
3,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",[]
4,5548,St. Francis Center - South Central LAMP,"[{'stakeholder_id': 5548, 'id': 1, 'name': 'Fo...",[]

In [21]:
# Check the export to CSV, that it doesn't destroy other columns
# Looks ok, it's probably the ESRI side, where a column needs its data type set to be "string",
# and twitter, linkedin columns will come out correct

#df3 = df2.drop(columns = ["categories"])
#df3.to_csv("test.csv")